/* custom_sprite.css */
.el-icon { 
    display: inline-block; 
    background-image: url('custom_sprite.webp'); 
    background-repeat: no-repeat;
    background-size: 500px 1392px;
}
.el-icon-platform-eleme { width: 36px; height: 34px; background-position: -7px -7px; }
.el-icon-eleme { width: 32px; height: 31px; background-position: -59px -8px; }
.el-icon-delete-solid { width: 39px; height: 35px; background-position: -106px -6px; }
.el-icon-delete { width: 39px; height: 35px; background-position: -156px -6px; }
.el-icon-s-tools { width: 37px; height: 34px; background-position: -206px -7px; }
.el-icon-setting { width: 37px; height: 36px; background-position: -256px -6px; }
.el-icon-user-solid { width: 34px; height: 33px; background-position: -308px -8px; }
.el-icon-user { width: 33px; height: 33px; background-position: -359px -7px; }
.el-icon-phone { width: 36px; height: 33px; background-position: -407px -7px; }
.el-icon-phone-outline { width: 35px; height: 34px; background-position: -457px -7px; }
.el-icon-more { width: 38px; height: 15px; background-position: -6px -65px; }
.el-icon-more-outline { width: 36px; height: 14px; background-position: -57px -65px; }
.el-icon-star-on { width: 34px; height: 31px; background-position: -108px -57px; }
.el-icon-star-off { width: 37px; height: 34px; background-position: -156px -55px; }
.el-icon-s-goods { width: 34px; height: 32px; background-position: -208px -56px; }
.el-icon-goods { width: 34px; height: 33px; background-position: -258px -56px; }
.el-icon-warning { width: 38px; height: 36px; background-position: -306px -54px; }
.el-icon-warning-outline { width: 39px; height: 38px; background-position: -356px -53px; }
.el-icon-question { width: 35px; height: 36px; background-position: -407px -54px; }
.el-icon-info { width: 36px; height: 35px; background-position: -457px -54px; }
.el-icon-remove { width: 36px; height: 34px; background-position: -7px -103px; }
.el-icon-circle-plus { width: 37px; height: 36px; background-position: -56px -102px; }
.el-icon-success { width: 36px; height: 36px; background-position: -107px -102px; }
.el-icon-error { width: 36px; height: 37px; background-position: -157px -102px; }
.el-icon-zoom-in { width: 34px; height: 34px; background-position: -208px -103px; }
.el-icon-zoom-out { width: 35px; height: 34px; background-position: -257px -103px; }
.el-icon-remove-outline { width: 36px; height: 34px; background-position: -307px -103px; }
.el-icon-circle-plus-outline { width: 35px; height: 34px; background-position: -358px -103px; }
.el-icon-circle-check { width: 36px; height: 34px; background-position: -407px -103px; }
.el-icon-circle-close { width: 37px; height: 36px; background-position: -456px -102px; }
.el-icon-s-help { width: 35px; height: 35px; background-position: -7px -150px; }
.el-icon-help { width: 35px; height: 36px; background-position: -57px -150px; }
.el-icon-minus { width: 35px; height: 11px; background-position: -108px -162px; }
.el-icon-plus { width: 35px; height: 35px; background-position: -158px -150px; }
.el-icon-check { width: 34px; height: 26px; background-position: -208px -155px; }
.el-icon-close { width: 30px; height: 29px; background-position: -260px -154px; }
.el-icon-picture { width: 49px; height: 42px; background-position: -301px -147px; }
.el-icon-picture-outline { width: 43px; height: 42px; background-position: -353px -147px; }
.el-icon-picture-outline-round { width: 46px; height: 46px; background-position: -402px -145px; }
.el-icon-upload { width: 50px; height: 39px; background-position: -450px -148px; }
.el-icon-upload2 { width: 40px; height: 41px; background-position: -5px -196px; }
.el-icon-download { width: 40px; height: 42px; background-position: -55px -195px; }
.el-icon-camera-solid { width: 46px; height: 43px; background-position: -102px -194px; }
.el-icon-camera { width: 46px; height: 42px; background-position: -152px -195px; }
.el-icon-video-camera-solid { width: 48px; height: 40px; background-position: -201px -196px; }
.el-icon-video-camera { width: 46px; height: 36px; background-position: -252px -198px; }
.el-icon-message-solid { width: 49px; height: 46px; background-position: -301px -193px; }
.el-icon-bell { width: 46px; height: 43px; background-position: -352px -194px; }
.el-icon-s-cooperation { width: 46px; height: 42px; background-position: -402px -195px; }
.el-icon-s-order { width: 42px; height: 44px; background-position: -454px -194px; }
.el-icon-s-platform { width: 49px; height: 41px; background-position: -1px -244px; }
.el-icon-s-fold { width: 45px; height: 38px; background-position: -53px -245px; }
.el-icon-s-unfold { width: 46px; height: 38px; background-position: -102px -245px; }
.el-icon-s-operation { width: 43px; height: 40px; background-position: -154px -244px; }
.el-icon-s-promotion { width: 43px; height: 41px; background-position: -203px -244px; }
.el-icon-s-home { width: 45px; height: 45px; background-position: -252px -241px; }
.el-icon-s-release { width: 44px; height: 46px; background-position: -303px -241px; }
.el-icon-s-ticket { width: 49px; height: 38px; background-position: -351px -245px; }
.el-icon-s-management { width: 45px; height: 42px; background-position: -403px -243px; }
.el-icon-s-open { width: 41px; height: 44px; background-position: -454px -242px; }
.el-icon-s-shop { width: 45px; height: 43px; background-position: -3px -291px; }
.el-icon-s-marketing { width: 45px; height: 46px; background-position: -53px -289px; }
.el-icon-s-flag { width: 42px; height: 48px; background-position: -104px -288px; }
.el-icon-s-comment { width: 45px; height: 43px; background-position: -152px -290px; }
.el-icon-s-finance { width: 43px; height: 42px; background-position: -204px -291px; }
.el-icon-s-claim { width: 44px; height: 46px; background-position: -253px -289px; }
.el-icon-s-custom { width: 49px; height: 46px; background-position: -301px -289px; }
.el-icon-s-opportunity { width: 42px; height: 48px; background-position: -354px -288px; }
.el-icon-s-data { width: 45px; height: 45px; background-position: -403px -290px; }
.el-icon-s-check { width: 46px; height: 43px; background-position: -452px -290px; }
.el-icon-s-grid { width: 45px; height: 43px; background-position: -3px -339px; }
.el-icon-menu { width: 45px; height: 44px; background-position: -52px -338px; }
.el-icon-share { width: 37px; height: 36px; background-position: -106px -342px; }
.el-icon-d-caret { width: 30px; height: 37px; background-position: -160px -342px; }
.el-icon-caret-left { width: 26px; height: 33px; background-position: -212px -343px; }
.el-icon-caret-right { width: 24px; height: 31px; background-position: -263px -344px; }
.el-icon-caret-bottom { width: 33px; height: 24px; background-position: -308px -348px; }
.el-icon-caret-top { width: 31px; height: 25px; background-position: -359px -348px; }
.el-icon-bottom-left { width: 32px; height: 31px; background-position: -409px -344px; }
.el-icon-bottom-right { width: 31px; height: 31px; background-position: -459px -344px; }
.el-icon-back { width: 34px; height: 32px; background-position: -8px -392px; }
.el-icon-right { width: 37px; height: 32px; background-position: -56px -392px; }
.el-icon-bottom { width: 32px; height: 36px; background-position: -109px -390px; }
.el-icon-top { width: 30px; height: 39px; background-position: -160px -389px; }
.el-icon-top-left { width: 30px; height: 30px; background-position: -210px -393px; }
.el-icon-top-right { width: 31px; height: 30px; background-position: -259px -393px; }
.el-icon-arrow-left { width: 25px; height: 36px; background-position: -312px -390px; }
.el-icon-arrow-right { width: 25px; height: 37px; background-position: -362px -390px; }
.el-icon-arrow-down { width: 35px; height: 25px; background-position: -407px -396px; }
.el-icon-arrow-up { width: 38px; height: 25px; background-position: -456px -395px; }
.el-icon-d-arrow-left { width: 34px; height: 37px; background-position: -8px -438px; }
.el-icon-d-arrow-right { width: 32px; height: 37px; background-position: -59px -438px; }
.el-icon-video-pause { width: 40px; height: 39px; background-position: -105px -436px; }
.el-icon-video-play { width: 40px; height: 38px; background-position: -155px -437px; }
.el-icon-refresh { width: 36px; height: 36px; background-position: -207px -438px; }
.el-icon-refresh-right { width: 35px; height: 34px; background-position: -257px -439px; }
.el-icon-refresh-left { width: 36px; height: 35px; background-position: -307px -438px; }
.el-icon-finished { width: 42px; height: 33px; background-position: -354px -439px; }
.el-icon-sort { width: 38px; height: 41px; background-position: -406px -436px; }
.el-icon-sort-up { width: 23px; height: 37px; background-position: -464px -438px; }
.el-icon-sort-down { width: 24px; height: 39px; background-position: -13px -485px; }
.el-icon-rank { width: 40px; height: 39px; background-position: -55px -485px; }
.el-icon-loading { width: 41px; height: 40px; background-position: -104px -484px; }
.el-icon-view { width: 48px; height: 33px; background-position: -151px -487px; }
.el-icon-c-scale-to-original { width: 40px; height: 36px; background-position: -205px -486px; }
.el-icon-date { width: 43px; height: 41px; background-position: -253px -484px; }
.el-icon-edit { width: 39px; height: 43px; background-position: -306px -482px; }
.el-icon-edit-outline { width: 39px; height: 38px; background-position: -356px -485px; }
.el-icon-folder { width: 44px; height: 37px; background-position: -403px -485px; }
.el-icon-folder-opened { width: 44px; height: 37px; background-position: -453px -485px; }
.el-icon-folder-add { width: 45px; height: 37px; background-position: -3px -533px; }
.el-icon-folder-remove { width: 45px; height: 37px; background-position: -52px -533px; }
.el-icon-folder-delete { width: 43px; height: 37px; background-position: -103px -533px; }
.el-icon-folder-checked { width: 43px; height: 37px; background-position: -153px -533px; }
.el-icon-tickets { width: 41px; height: 41px; background-position: -205px -531px; }
.el-icon-document-remove { width: 40px; height: 42px; background-position: -255px -531px; }
.el-icon-document-delete { width: 40px; height: 42px; background-position: -305px -531px; }
.el-icon-document-copy { width: 45px; height: 40px; background-position: -352px -532px; }
.el-icon-document-checked { width: 40px; height: 40px; background-position: -405px -532px; }
.el-icon-document { width: 39px; height: 41px; background-position: -455px -532px; }
.el-icon-document-add { width: 42px; height: 42px; background-position: -4px -579px; }
.el-icon-printer { width: 45px; height: 40px; background-position: -52px -580px; }
.el-icon-paperclip { width: 42px; height: 40px; background-position: -104px -580px; }
.el-icon-takeaway-box { width: 49px; height: 39px; background-position: -151px -581px; }
.el-icon-search { width: 42px; height: 41px; background-position: -204px -580px; }
.el-icon-monitor { width: 46px; height: 38px; background-position: -252px -581px; }
.el-icon-attract { width: 40px; height: 37px; background-position: -305px -581px; }
.el-icon-mobile { width: 39px; height: 40px; background-position: -355px -580px; }
.el-icon-scissors { width: 41px; height: 38px; background-position: -404px -581px; }
.el-icon-umbrella { width: 44px; height: 38px; background-position: -453px -581px; }
.el-icon-headset { width: 44px; height: 39px; background-position: -3px -629px; }
.el-icon-brush { width: 43px; height: 39px; background-position: -53px -628px; }
.el-icon-mouse { width: 34px; height: 39px; background-position: -108px -628px; }
.el-icon-coordinate { width: 40px; height: 41px; background-position: -155px -628px; }
.el-icon-magic-stick { width: 43px; height: 39px; background-position: -204px -629px; }
.el-icon-reading { width: 44px; height: 37px; background-position: -253px -630px; }
.el-icon-data-line { width: 46px; height: 39px; background-position: -302px -629px; }
.el-icon-data-board { width: 47px; height: 38px; background-position: -352px -629px; }
.el-icon-pie-chart { width: 46px; height: 43px; background-position: -402px -626px; }
.el-icon-data-analysis { width: 46px; height: 39px; background-position: -452px -628px; }
.el-icon-collection-tag { width: 35px; height: 41px; background-position: -8px -676px; }
.el-icon-film { width: 41px; height: 40px; background-position: -54px -676px; }
.el-icon-suitcase { width: 47px; height: 37px; background-position: -102px -678px; }
.el-icon-suitcase-1 { width: 45px; height: 39px; background-position: -153px -676px; }
.el-icon-receiving { width: 43px; height: 36px; background-position: -203px -678px; }
.el-icon-collection { width: 39px; height: 40px; background-position: -256px -676px; }
.el-icon-files { width: 43px; height: 37px; background-position: -304px -678px; }
.el-icon-notebook-1 { width: 40px; height: 40px; background-position: -355px -676px; }
.el-icon-notebook-2 { width: 39px; height: 39px; background-position: -406px -676px; }
.el-icon-toilet-paper { width: 42px; height: 40px; background-position: -454px -676px; }
.el-icon-office-building { width: 41px; height: 37px; background-position: -5px -726px; }
.el-icon-school { width: 42px; height: 38px; background-position: -54px -725px; }
.el-icon-table-lamp { width: 38px; height: 40px; background-position: -106px -724px; }
.el-icon-house { width: 39px; height: 39px; background-position: -156px -724px; }
.el-icon-no-smoking { width: 41px; height: 36px; background-position: -205px -726px; }
.el-icon-smoking { width: 42px; height: 33px; background-position: -254px -727px; }
.el-icon-shopping-cart-full { width: 43px; height: 39px; background-position: -304px -724px; }
.el-icon-shopping-cart-1 { width: 44px; height: 37px; background-position: -353px -725px; }
.el-icon-shopping-cart-2 { width: 44px; height: 39px; background-position: -403px -724px; }
.el-icon-shopping-bag-1 { width: 39px; height: 40px; background-position: -455px -724px; }
.el-icon-shopping-bag-2 { width: 39px; height: 40px; background-position: -6px -772px; }
.el-icon-sold-out { width: 38px; height: 40px; background-position: -56px -772px; }
.el-icon-sell { width: 39px; height: 40px; background-position: -105px -772px; }
.el-icon-present { width: 42px; height: 39px; background-position: -154px -773px; }
.el-icon-box { width: 44px; height: 40px; background-position: -203px -772px; }
.el-icon-bank-card { width: 43px; height: 34px; background-position: -254px -775px; }
.el-icon-money { width: 43px; height: 36px; background-position: -303px -774px; }
.el-icon-coin { width: 42px; height: 39px; background-position: -354px -772px; }
.el-icon-wallet { width: 44px; height: 39px; background-position: -403px -772px; }
.el-icon-discount { width: 38px; height: 41px; background-position: -456px -772px; }
.el-icon-price-tag { width: 39px; height: 41px; background-position: -5px -820px; }
.el-icon-news { width: 41px; height: 37px; background-position: -55px -821px; }
.el-icon-guide { width: 43px; height: 41px; background-position: -103px -820px; }
.el-icon-male { width: 40px; height: 35px; background-position: -155px -823px; }
.el-icon-female { width: 32px; height: 38px; background-position: -209px -821px; }
.el-icon-thumb { width: 43px; height: 41px; background-position: -254px -819px; }
.el-icon-cpu { width: 42px; height: 39px; background-position: -304px -821px; }
.el-icon-link { width: 39px; height: 37px; background-position: -355px -822px; }
.el-icon-connection { width: 44px; height: 37px; background-position: -403px -821px; }
.el-icon-open { width: 48px; height: 33px; background-position: -451px -823px; }
.el-icon-turn-off { width: 38px; height: 27px; background-position: -6px -874px; }
.el-icon-set-up { width: 31px; height: 32px; background-position: -59px -872px; }
.el-icon-chat-round { width: 34px; height: 34px; background-position: -108px -871px; }
.el-icon-chat-line-round { width: 32px; height: 33px; background-position: -159px -872px; }
.el-icon-chat-square { width: 31px; height: 32px; background-position: -209px -872px; }
.el-icon-chat-dot-round { width: 34px; height: 34px; background-position: -258px -871px; }
.el-icon-chat-dot-square { width: 34px; height: 31px; background-position: -308px -873px; }
.el-icon-chat-line-square { width: 33px; height: 31px; background-position: -359px -873px; }
.el-icon-message { width: 34px; height: 30px; background-position: -408px -873px; }
.el-icon-postcard { width: 35px; height: 29px; background-position: -458px -873px; }
.el-icon-position { width: 35px; height: 32px; background-position: -8px -920px; }
.el-icon-turn-off-microphone { width: 30px; height: 34px; background-position: -60px -919px; }
.el-icon-microphone { width: 28px; height: 36px; background-position: -111px -918px; }
.el-icon-close-notification { width: 34px; height: 34px; background-position: -158px -919px; }
.el-icon-bangzhu { width: 34px; height: 34px; background-position: -208px -919px; }
.el-icon-time { width: 34px; height: 34px; background-position: -258px -919px; }
.el-icon-odometer { width: 34px; height: 35px; background-position: -308px -919px; }
.el-icon-crop { width: 34px; height: 34px; background-position: -358px -919px; }
.el-icon-aim { width: 34px; height: 33px; background-position: -408px -919px; }
.el-icon-switch-button { width: 32px; height: 33px; background-position: -459px -919px; }
.el-icon-full-screen { width: 33px; height: 33px; background-position: -9px -967px; }
.el-icon-copy-document { width: 34px; height: 33px; background-position: -58px -967px; }
.el-icon-mic { width: 24px; height: 33px; background-position: -113px -967px; }
.el-icon-stopwatch { width: 34px; height: 33px; background-position: -158px -967px; }
.el-icon-medal-1 { width: 28px; height: 34px; background-position: -211px -967px; }
.el-icon-medal { width: 27px; height: 34px; background-position: -261px -967px; }
.el-icon-trophy { width: 32px; height: 34px; background-position: -309px -967px; }
.el-icon-trophy-1 { width: 31px; height: 34px; background-position: -359px -967px; }
.el-icon-first-aid-kit { width: 34px; height: 31px; background-position: -408px -968px; }
.el-icon-discover { width: 34px; height: 33px; background-position: -458px -967px; }
.el-icon-place { width: 31px; height: 34px; background-position: -9px -1015px; }
.el-icon-location { width: 28px; height: 33px; background-position: -61px -1015px; }
.el-icon-location-outline { width: 29px; height: 34px; background-position: -110px -1015px; }
.el-icon-location-information { width: 28px; height: 33px; background-position: -161px -1015px; }
.el-icon-add-location { width: 29px; height: 33px; background-position: -211px -1015px; }
.el-icon-delete-location { width: 28px; height: 33px; background-position: -261px -1015px; }
.el-icon-map-location { width: 34px; height: 35px; background-position: -308px -1015px; }
.el-icon-alarm-clock { width: 34px; height: 34px; background-position: -358px -1015px; }
.el-icon-timer { width: 31px; height: 34px; background-position: -410px -1015px; }
.el-icon-watch-1 { width: 28px; height: 35px; background-position: -461px -1015px; }
.el-icon-watch { width: 28px; height: 34px; background-position: -11px -1063px; }
.el-icon-lock { width: 31px; height: 34px; background-position: -59px -1063px; }
.el-icon-unlock { width: 37px; height: 40px; background-position: -107px -1060px; }
.el-icon-key { width: 26px; height: 39px; background-position: -162px -1061px; }
.el-icon-service { width: 41px; height: 40px; background-position: -205px -1060px; }
.el-icon-mobile-phone { width: 34px; height: 42px; background-position: -258px -1059px; }
.el-icon-bicycle { width: 43px; height: 37px; background-position: -304px -1061px; }
.el-icon-truck { width: 42px; height: 33px; background-position: -354px -1063px; }
.el-icon-ship { width: 40px; height: 36px; background-position: -405px -1062px; }
.el-icon-basketball { width: 39px; height: 38px; background-position: -456px -1061px; }
.el-icon-football { width: 39px; height: 39px; background-position: -5px -1108px; }
.el-icon-soccer { width: 39px; height: 38px; background-position: -56px -1109px; }
.el-icon-baseball { width: 40px; height: 39px; background-position: -105px -1108px; }
.el-icon-wind-power { width: 37px; height: 39px; background-position: -157px -1108px; }
.el-icon-light-rain { width: 41px; height: 34px; background-position: -205px -1111px; }
.el-icon-lightning { width: 39px; height: 40px; background-position: -255px -1108px; }
.el-icon-heavy-rain { width: 41px; height: 44px; background-position: -305px -1106px; }
.el-icon-sunrise { width: 43px; height: 32px; background-position: -353px -1112px; }
.el-icon-sunrise-1 { width: 45px; height: 36px; background-position: -403px -1110px; }
.el-icon-sunset { width: 44px; height: 36px; background-position: -453px -1110px; }
.el-icon-sunny { width: 38px; height: 38px; background-position: -6px -1157px; }
.el-icon-cloudy { width: 41px; height: 44px; background-position: -55px -1154px; }
.el-icon-partly-cloudy { width: 41px; height: 43px; background-position: -105px -1154px; }
.el-icon-cloudy-and-sunny { width: 39px; height: 36px; background-position: -155px -1158px; }
.el-icon-moon { width: 40px; height: 38px; background-position: -205px -1157px; }
.el-icon-moon-night { width: 43px; height: 39px; background-position: -253px -1156px; }
.el-icon-dish { width: 40px; height: 34px; background-position: -305px -1159px; }
.el-icon-dish-1 { width: 40px; height: 35px; background-position: -355px -1158px; }
.el-icon-food { width: 39px; height: 37px; background-position: -405px -1157px; }
.el-icon-chicken { width: 39px; height: 39px; background-position: -456px -1157px; }
.el-icon-fork-spoon { width: 36px; height: 39px; background-position: -7px -1204px; }
.el-icon-knife-fork { width: 31px; height: 39px; background-position: -59px -1205px; }
.el-icon-burger { width: 39px; height: 36px; background-position: -106px -1206px; }
.el-icon-tableware { width: 38px; height: 34px; background-position: -156px -1207px; }
.el-icon-sugar { width: 38px; height: 39px; background-position: -206px -1205px; }
.el-icon-dessert { width: 34px; height: 38px; background-position: -258px -1205px; }
.el-icon-ice-cream { width: 34px; height: 41px; background-position: -308px -1204px; }
.el-icon-hot-water { width: 40px; height: 42px; background-position: -355px -1203px; }
.el-icon-water-cup { width: 46px; height: 43px; background-position: -402px -1203px; }
.el-icon-coffee-cup { width: 46px; height: 39px; background-position: -452px -1204px; }
.el-icon-cold-drink { width: 44px; height: 44px; background-position: -3px -1250px; }
.el-icon-goblet { width: 35px; height: 45px; background-position: -58px -1249px; }
.el-icon-goblet-full { width: 35px; height: 45px; background-position: -108px -1249px; }
.el-icon-goblet-square { width: 35px; height: 44px; background-position: -158px -1250px; }
.el-icon-goblet-square-full { width: 35px; height: 46px; background-position: -208px -1249px; }
.el-icon-refrigerator { width: 35px; height: 47px; background-position: -258px -1249px; }
.el-icon-grape { width: 43px; height: 47px; background-position: -304px -1249px; }
.el-icon-watermelon { width: 42px; height: 41px; background-position: -354px -1251px; }
.el-icon-cherry { width: 45px; height: 43px; background-position: -402px -1250px; }
.el-icon-apple { width: 44px; height: 46px; background-position: -453px -1249px; }
.el-icon-pear { width: 36px; height: 45px; background-position: -7px -1297px; }
.el-icon-orange { width: 44px; height: 44px; background-position: -53px -1298px; }
.el-icon-coffee { width: 41px; height: 45px; background-position: -105px -1297px; }
.el-icon-ice-tea { width: 41px; height: 47px; background-position: -154px -1296px; }
.el-icon-ice-drink { width: 41px; height: 47px; background-position: -204px -1296px; }
.el-icon-milk-tea { width: 40px; height: 47px; background-position: -255px -1296px; }
.el-icon-potato-strips { width: 39px; height: 42px; background-position: -306px -1299px; }
.el-icon-lollipop { width: 44px; height: 43px; background-position: -353px -1299px; }
.el-icon-ice-cream-square { width: 29px; height: 44px; background-position: -411px -1298px; }
.el-icon-ice-cream-round { width: 41px; height: 41px; background-position: -455px -1300px; }
.icon-281 { width: 35px; height: 44px; background-position: -8px -1346px; }
.icon-282 { width: 43px; height: 42px; background-position: -54px -1347px; }
